<%= form_with(model: rating, local: true) do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stars %>
    <%= form.hidden_field :stars %>
    <% 5.times do %>
      <i class="rating-scale fas fa-star" onmouseover="hoverScale(this)"></i>
    <% end %>
    <!--<script type="text/javascript">
        let stars = document.querySelectorAll('.rating-scale');
        function hoverScale(element) {
            for (let i = 0; i < stars.length; i++) {
                if (stars[i] === element) {
                    for (let j = 0; j < stars.length; j++) {
                        if (j <= i) {
                            stars[j].classList.remove('far');
                            stars[j].classList.add('fas');
                        } else {
                            stars[j].classList.remove('fas');
                            stars[j].classList.add('far');
                        }
                    }
                }
            }
        }
    </script>-->
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
