<p id="notice"><%= notice %></p>

<h2>
  Ratings
  <a href="<%= new_rating_path %>" class="ml-auto float-right"><button class="btn btn-primary">New Rating</button></a>
</h2>


<% @ratings = @ratings.reverse %>

<div class="row">
  <div class="col-md-4">
    <% @ratings.each_slice(3).map(&:first).each do |rating| %>
      <div class="card my-4">
        <a href="<%= rating.picture_url %>" data-lightbox="ratings"><%= image_tag rating.picture_url, class: "card-image-top img-fluid" if rating.picture.present? %></a>
        <div class="card-body">
          <h5 class="card-title">
            <% rating.stars.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - rating.stars).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </h5>
          <p class="card-text"><%= rating.comment %></p>
          <p class="card-text text-secondary text-right text-small"><%= l rating.created_at.to_date, format: :long %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% @ratings.drop(1).each_slice(3).map(&:first).each do |rating| %>
      <div class="card my-4">
        <a href="<%= rating.picture_url %>" data-lightbox="ratings"><%= image_tag rating.picture_url, class: "card-image-top img-fluid" if rating.picture.present? %></a>
        <div class="card-body">
          <h5 class="card-title">
            <% rating.stars.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - rating.stars).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </h5>
          <p class="card-text"><%= rating.comment %></p>
          <p class="card-text text-secondary text-right text-small"><%= l rating.created_at.to_date, format: :long %></p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <% @ratings.drop(2).each_slice(3).map(&:first).each do |rating| %>
      <div class="card my-4">
        <a href="<%= rating.picture_url %>" data-lightbox="ratings"><%= image_tag rating.picture_url, class: "card-image-top img-fluid" if rating.picture.present? %></a>
        <div class="card-body">
          <h5 class="card-title">
            <% rating.stars.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - rating.stars).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </h5>
          <p class="card-text"><%= rating.comment %></p>
          <p class="card-text text-secondary text-right text-small"><%= l rating.created_at.to_date, format: :long %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
