<p id="notice"><%= notice %></p>

<p>
  <strong>Stars:</strong>
  <% @rating.stars.times do %>
    <i class="fas fa-star"></i>
  <% end %>
  <% (5 - @rating.stars).times do %>
    <i class="far fa-star"></i>
  <% end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @rating.comment %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@rating.picture_url, width: 150) if @rating.picture.present? %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
