<h2>Order <%= @order.id %></h2>
<div class="round-borders">

<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Delivery address:</strong>
  <%= @order.delivery_address %>
</p>

<p>
  <strong>Billing method:</strong>
  <%= @order.billing_method %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.order_price*0.01 %> €
</p>

<p>
  <strong>Subs:</strong>
<ul>
  <% @order.subs_list.each do |sub| %>
    <%= tag.li link_to "#{sub.main_ingredient.name} Hoagie", sub %>
    <%= link_to 'Destroy', sub, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</ul>

</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
