<%= form_with(model: sub, local: true) do |form| %>
  <% if sub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub.errors.count, "error") %> prohibited this sub from being saved:</h2>

      <ul>
      <% sub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :order_id %>
    <%= form.text_field :order_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bread_id %>
    <%= select :sub, :bread_id, options_from_collection_for_select(Bread.all, "id", "name"), { prompt: true }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.label :main_ingredient_id %>
    <%= select :sub, :main_ingredient_id, options_from_collection_for_select(MainIngredient.all, "id", "name"), { prompt: true }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |box| %>
      <div class="form-check">
        <%= box.check_box %>
        <%= box.label %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :sauce_id %>
    <%= select :sub, :sauce_id, options_from_collection_for_select(Sauce.all, "id", "name"), { prompt: true }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= form.submit class: %w(btn btn-primary) %>
  </div>
<% end %>
